<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <activity android:name=".jetpack.livedata_viewmodel.sample_count.CountActivity" />
        <activity android:name=".jetpack.livedata_viewmodel.sample_same.MainTwoActivity" />
        <activity android:name=".jetpack.livedata_viewmodel.LiveDataViewModelDemoActivity" />
        <activity android:name=".jetpack.livedata_viewmodel.sample_count.SecondActivity" />
        <activity android:name=".jetpack.workmanager.WorkManagerDemoActivity" />
        <activity android:name=".jetpack.room.RoomActivity" />

        <activity android:name=".thirdpartlibs.leakcanary.LeakDemoActivity" />
        <activity android:name=".android.hotfix.DexClassLoaderHotfixActivity" />
        <activity android:name=".jetpack.datastore.DatastoreDemoActivity" />
        <activity android:name=".BaseListOfBtnsActivity" />
        <activity android:name=".thirdpartlibs.leakcanary.LeakCanaryDemoActivity" />
        <activity android:name=".thirdpartlibs.glide.GlideDemo2Activity" />
        <activity android:name=".thirdpartlibs.okhttp.OkhttpDemoActivity" />
        <activity android:name=".thirdpartlibs.glide.GlideDemoActivity" />

        <activity android:name=".android.contentprovider.demo.MainActivity" />
        <activity android:name=".kotlin.coroutines.CoroutinesDemoActivity" />
        <activity android:name=".kotlin.flow.FlowDemoActivity" />
        <activity android:name=".android.file.FileDemoActivity" />
        <activity android:name=".android.notification.NotificationActivity" />
        <activity
            android:name=".android.activity.MyDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".android.activity.BaseLifecycleTestActivity" />
        <activity
            android:name=".android.activity.BActivity"
            android:label="B_Activity" />
        <activity
            android:name=".android.activity.AActivity"
            android:label="A_Activity" />
        <activity
            android:name=".android.activity.LifecycleTestActivity"
            android:label="Lifecycle Test" />
        <activity
            android:name=".CoreApisMainActivity"
            android:label="Core Apis" />
        <activity
            android:name=".java.thread.ThreadDemoActivity"
            android:label="Thread Demos" />
        <activity
            android:name=".navigation.NavigationDemoActivity"
            android:label="@string/title_activity_coroutines"
            android:theme="@style/Theme.DemosAndroidCoreLibs.NoActionBar" />
        <activity
            android:name=".thirdpartlibs.retrofit.RetrofitActivity"
            android:label="Retrofit" />
        <activity
            android:name=".android.contentprovider.ContentProviderActivity"
            android:label="ContentProvider" />

        <provider
            android:name=".android.contentprovider.demo.MyContentProvider"
            android:authorities="com.picture.provider"
            android:exported="true" />

        <provider
            android:name=".android.contentprovider.demo.MyFileProvider"
            android:authorities="com.lizw.demos.my_flie_provider"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".android.contentprovider.MyProvider"
            android:authorities="com.lizw.myprovider"
            android:exported="true"
            android:permission="com.lizw.myprovider.PROVIDER" />
    </application>

</manifest>