<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lizw.ui_demos">
    <!-- for FloatWindowActivity -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeAppDefault">
        <activity
            android:name=".UiHomeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- package start : customview -->
        <activity
            android:name=".customview.CustomViewActivity"
            android:exported="false" /> <!-- package end : customview -->
        <!-- package start : recycler view -->
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.MultiTypeActivity"
            android:exported="false" />

        <activity
            android:name=".loading.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="client"
                    android:scheme="lark" />
            </intent-filter>
        </activity>

        <activity
            android:name=".animation.AnimationActivity"
            android:exported="false" />

        <activity
            android:name=".animation.FrameAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".customview.weatherview.WeatherActivity"
            android:exported="false" />

        <activity
            android:name=".customview.PreviewActivity"
            android:exported="false" />

        <activity
            android:name=".gesture.GestureActivity"
            android:exported="false" />
        <activity
            android:name=".floatwindow.FloatWindowActivity"
            android:exported="false" />

        <activity
            android:name=".bitmap.BigViewActivity"
            android:exported="false" />

        <activity
            android:name=".bitmap.BitmapActivity"
            android:exported="false" />

    </application>

</manifest>